body {
    font-family: 'Roboto', sans-serif;
  }

  .landing {
    background: linear-gradient(50deg, #4B136D 10%,#2A60D4 80%);
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
  
  .logo-text {
    font-family: 'Lato', sans-serif !important; /* Use Roboto font for consistency with Material Design */
    font-size: 60px; /* Choose a size appropriate for your design */
    font-weight: 500; /* Use medium font weight for emphasis */
    letter-spacing: 0.5px; /* Add a bit of letter spacing for readability */
    text-transform: uppercase; /* Use all-caps for consistency with Material Design */
    color: #fff; /* Choose a text color that contrasts well with your background */
    margin-bottom: 10%;
  }
  
  .box {
    margin: 0 auto;
    height: 50px;
    width: 645px;
    position: center;
    border-radius: 30px;
  }
  
  .elementsContainer {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  
  .search {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0px 5px;
    border-radius: 18px;
    font-size: 18px;
    color: #000;
    font-weight: 450;
    padding-left: 20px;
    font-family: 'Lato', sans-serif !important;
  }

  .search::placeholder {
    position: relative;
    left: 0px; /* adjust this value to move the placeholder to the right */
    color: #ccc; /* set the initial color of the placeholder text */
    transition: color 0.3s ease-out; /* add a transition effect to the color property */
  }
  
  .search:focus::placeholder {
    color: transparent; /* set the color of the placeholder text to transparent when the input is focused */
  }

  .search::-webkit-input-placeholder {
    position: relative;
    left: 0px; /* adjust this value to move the placeholder to the right */
  }
  
  .search::-moz-placeholder {
    position: relative;
    left: 0px; /* adjust this value to move the placeholder to the right */
  }
  
  .search:-ms-input-placeholder {
    position: relative;
    left: 0px; /* adjust this value to move the placeholder to the right */
  }
  
  .search[type="url"] {
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 30px; /* adjust this value to move the input type sign to the right */
  }
  
  .search[type="url"] {
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 30px; /* adjust this value to move the input type sign to the right */
  }

  .search:focus {
    outline: none;
  }
  
  .search-btn {
    margin-top: 20px;
    border: none;
    border-radius: 13px;
    width: 160px;
    height: 45px;
    color: white;
    background-size: 200%;
    transition: 0.6s;
    background-image: linear-gradient(to left, rgba(40,135,255,1), #4520DD, rgba(140,9,255,1));
  }
  
  .search-btn:hover {
    background-position: right;
  }

  * {
    box-sizing: border-box;
  }
  
  